<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
{% block pagetitle %}
{% endblock pagetitle %}
        </title>
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>