{% extends "base.html" %}
{% block title %}{{ block.super }}  | Phone number verification {% endblock title %}

{% block pagetitle %}
		Verify your phone number
{% endblock pagetitle %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

    <form method="post" enctype="multipart/form-data" action=".">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="SendMessage" class="btn btn-success"/>
</form>
{% endblock content %}
